@import "store/variables";

body {
  background-image: url(asset_path('store/grn_bkg.png', image));
  background-repeat: repeat-x;
}

#main {
  text-align: center
}

.center {
	text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.img-left {
  float: left;
  margin-right: 20px;
}

.img-right {
  float: right;
  margin-left: 20px;
}

#nav-bar form {
	margin: 0;
}

#new_contact_us_contact {
  label {
    display: inline;
  }
}


ul, ol {
  margin-bottom: 20px;
}

#telephone {
  color: white;
}

a small {
  color: #999;
  font-size: 14px;
}

a {
	color: #06C;
}

hr.soften {
height: 1px;
margin: 54px 0;
background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
border: 0;
}

.taxons-list, #similar_items_by_taxon {
	margin: 0 0 10px 0;
	list-style: none;
}

h2,h3,h4 {
  font-family: 'PT Serif Caption', Helvetica, Arial, sans-serif; 
  color: #113355;
}

h1 {
  font-family: 'PT Serif Caption', Helvetica, Arial, sans-serif; 
  font-size: 38px;
  color: #113355;
}

p {
  color: #666;
}

.selling-points {
  text-align: left;
}


.hero-unit {
  background-color: transparent;
  p {
    margin: 20px 0;
    font-size: 20px;
    color: #333;
  }
  h1 {
    color: #113355;
  }
}

#products li {
  line-height: 16px;
}

img.center {
  display: block;
  margin: 0 auto;
}

#login-nav {
  list-style: none;
  padding: 5px 0 5px 10px;
  text-align: right;
  font-size: 90%;
  color: #5fa5e8;
  margin-top: 8px;
  li {
    display: inline;
  }
}

#order_summary h1 {
  margin-left: 30px;
}

td[data-hook="order_item_image"] {
  text-align: center;
}

p[data-hook="links"] a {
  margin-left: 30px;
}

#product-variants {
  margin: 0;
  li {
    list-style: none;
  }
}


#header-menu li a {
  color: white;
  font-size: 18px;
}

#header-menu {
  margin-top: 60px;
}



.alert {
  margin-top: 20px;
}

.btn-xlarge {
  padding: 15px 30px;
  font-size: 20px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

a.btn-xlarge:hover{
  color: white !important;
}

#thumbnails {
  display: none;
}

header {
  height: 149px;
}

#banner {
  background-color: #DEF7E2;
  background-image: url(asset_path('store/texture.png',image));
}

#gallery {
  margin-top: 30px;
  text-align: center;
}

#footer#footer {
  padding: 0;
}



#checkout {
  margin-top: 20px;
}

#product-properties {
  padding: 0;
}

#picture-upload {
  margin-top: 20px;
  h1 {
    font-size: 30px;
    margin: 0 0 -15px 0;
  }
  p.lead {
    margin: 0;
  }
}

#about-page {
  margin-top: 20px;
  text-align: center;
  p.lead {
    font-family: $ff_headings;
    color: #666;
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-align: center;
  }
  p {
    color: #222;
    text-align: left;
    font-size: 16px;
  }
  hr {
    margin: 20px 0px;
  }
}

.account-summary {
  dd {
    margin: 0;
  }
}

.thumbnails > li {
  height: 250px;
}

