
<h1>Art Gallery</h1>
<ul class="thumbnails">
 <% @galleries.each do |gallery| %> 
 <li class="span3">
    <div class="thumbnail">
      <%= image_tag(gallery.pictures.first.attachment.url(:product)) %>
      <div class='caption'>
        <h3 class="media-heading"><%= gallery.title %></h3>
        <p><%= gallery.description %></p>
      </div>
    </div>
  </li>
 <% end %>
</ul>

  