<div class="hero-unit">
  <%= image_tag 'store/dog_art.png', :style => 'float: left; margin-right: 20px'%>
  <h1>Your Picture. Quilted Art</h1>
    
    <p class='lead'>We turn your favorite picture into a stunning picture quilt.</p>
    
    <p><%= link_to "Order yours Today", "/products/custom-portrait-quilt", :class => 'btn btn-success btn-xlarge' %></p>
</div>