<% content_for :hero_unit do %>
<div class="hero-unit">
  <%= image_tag 'store/dog_art.png', :style => 'float: left; margin-right: 20px'%>
  <h1>Your Picture. Quilted Art.</h1>
    
    <p class='lead'>We turn your favorite photograph into a stunning art quilt.</p>
    
    <p><%= link_to "Order yours Today", "/products/custom-portrait-quilt", :class => 'btn btn-success btn-xlarge' %></p>
</div>
<% end %>

<div id="gallery" class="row">
	<h3>Recently commissioned portraits.</h3>
	<ul class="thumbnails">
	<% Spree::Gallery.recent.each do |gallery| -%>
  <li class="span3">
    <a href="#" >
      <%= image_tag(gallery.pictures.first.attachment.url(:product), :class => 'img-polaroid') %>
    </a>
  </li>
  <% end %>
</ul>

</div>
